{% extends 'RentAndDriveBundle::layout.html.twig' %}

{% block content %}
    <div class="page-head">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Dodawanie zdjęcia</h2>
            <h4>Dodaj zdjęcie do auta</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

    <br>

	{{ form_start(form) }}
	    {{ form_widget(form.file) }}
    {{ form_end(form)}}
    
    <br>

    <a class="btn btn-success" href="{{ path('admin_car_images') }}">
        Lista zdjęc
    </a>
</div>
{% endblock %}
