{% extends 'RentAndDriveBundle::layout.html.twig' %}
{% block title %}AutoRent{% endblock %}
{% block content %}

<div class="page-head">
<!-- Flex Slider starts -->

		<div class="container flex-main">
		  <div class="row">
			<div class="col-md-12">
					
					 <img style="max-width:100%; height:auto;" src="{{ asset('bundles/rentanddrive/img/photos/road.jpg') }}" alt=""/>
						  <!-- Caption -->
						  <div class="flex-caption">
							 <!-- Title -->
							 <h3>Wynajmij auto</h3>
							 <!-- Para -->
							 <p>Oferujemy na wynajem luksusowe i dopracowane samochody!</p>
						  </div>
			</div>
		  </div>
		</div>

</div><!-- ending page head -->
{% endblock %}{# ending content #}
